/* Inicio diseñadores */

.plot{font-size: 0.9em;}

.personaz{overflow: hidden;}

.persona{width: 18%;
border: 1px solid black;
border-radius: 0.25em;
float: left;
margin-left: 0;
margin: 0 0.25em 0 0.25em;
box-sizing: border-box;
text-align: center;}

.personaz .persona:nth-child(1) :hover {transition: 4s; opacity: 0;}
 
.persona p{ margin: 0 1em 1em;}

/* * Fin diseñadores */ 