<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/galeria">Galeria</a>
            <a href="/noticias">Noticias</a>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
    <nav>
    {{{body}}}
  </body>
</html>
